/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
}
.App-title {
  font-size: 1.5rem; /* Adjust this value to change the size */
}

/* Main App styling */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f4f4f4;
}

/* Header styling */
.App-header {
  background-color: #1f3b60; /* Dark blue background for the header */
  color: white;
  padding: 0px 5px; /* Reduced top padding */
  display: flex;
  align-items: center; /* Vertically center the contents of the header */
  justify-content: space-between; /* Space out the logo and the navigation */
  position: fixed;
  top: 0;
  width: 100%; /* Ensures the header spans the full width of the viewport */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App-logo {
  height: 40px; /* Ensures logo height is consistent */
  width: auto; /* Maintains the aspect ratio of the logo */
  margin-right: 1px; /* Right margin for spacing between logo and title */
  margin-top: 0px; /* Ensures no extra space above the logo */
  vertical-align: middle; /* Aligns logo with the text vertically */
}

/* Navigation styling */
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 8px;
}

.nav-button {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #0056b3;
}

/* Main content area */
main {
  flex: 1;
  padding-top: 80px; /* Padding to accommodate fixed header */
}

/* Footer styling */
footer {
  background-color: #1f3b60;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
